# This env covers slack_emojinator required envs ( so no need to setup slack_emojinator/.env)

## REQUIRED. see README.md how to get token and sessions.
# for slack
export SLACK_TEAM=""
export SLACK_COOKIE=""
export SLACK_API_TOKEN=""
epoxrt SLACK_API_TOKEN_FOR_DELETE=""

## OPTIONAL.
# for slack-emojinator (constant)
export EMOJI_DIR="avatars"

# include restricted users
export INCLUDE_RESTRICTED="true"

# filter by user_name, if "*" then all user.
export EMOJI_TARGET="*"

# ignore users, by comma separate values(ex: foo,bar,baz)
export IGNORE_USERS="slackbot"

